@import "tailwindcss";
@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Regular.ttf") format("trueType");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Medium.ttf") format("trueType");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-Bold.ttf") format("trueType");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata";
  src: url("./assets/fonts/static/Inconsolata-ExtraBold.ttf") format("trueType");
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inconsolata", monospace !important;
  font-weight: 400;
  font-variation-settings: "wdth" 100, "wght" 400;
  min-width: 320px;
}

button {
  cursor: pointer;
}

.main_div {
  background-image: url("./assets/pattern-squiggly-line-top.svg"),
    url("./assets/pattern-squiggly-line-bottom-mobile-tablet.svg"),
    url("./assets/background-mobile.png"), url("./assets/pattern-lines.svg"),
    url("./assets/pattern-circle.svg");
  background-size: 300px, 400px, cover, cover, 500px;
  background-position: top right, bottom left, center, center, 300px top;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .main_div {
    background-image: url("./assets/pattern-squiggly-line-top.svg"),
      url("./assets/pattern-squiggly-line-bottom-mobile-tablet.svg"),
      url("./assets/background-tablet.png"), url("./assets/pattern-lines.svg"),
      url("./assets/pattern-circle.svg");
  }
}

@media (min-width: 1440px) {
  .main_div {
    background-image: url("./assets/pattern-squiggly-line-top.svg"),
      url("./assets/pattern-squiggly-line-bottom-desktop.svg"),
      url("./assets/background-desktop.png"), url("./assets/pattern-lines.svg"),
      url("./assets/pattern-circle.svg");
  }
}

.input_label {
  font-size: 20px;
}

.text-neut-0 {
  color: hsl(0, 0%, 100%);
}

.text-neut-300 {
  color: hsl(252, 6%, 83%);
}

.bg-neut-300 {
  background: hsl(252, 6%, 83%);
}

.placeholder-neut-300::placeholder {
  color: hsl(252, 6%, 83%);
}

.text-neut-500 {
  color: hsl(245, 15%, 58%);
}

.bg-neut-700 {
  background: hsl(245, 19%, 35%);
}

.bg-neut-900 {
  background: hsl(248, 70%, 10%);
}

.orange-txt {
  color: hsl(7, 88%, 67%);
}

.orange-bg {
  background-color: hsl(7, 88%, 67%);
}

.ticket-container {
  background-image: url("./assets/pattern-ticket.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 600px;
  height: 280px;
  margin: 30px auto;
}

.placeholder-on-focus::placeholder {
  background: gray;
}
